body, html {
	margin:40px 0;
	padding:0;
}

footer {
   position:absolute;
   bottom:0;
   width:80%;
}

h1 {
	display: block;
	margin-bottom: 20px;
}

ul {
	margin: 0;
	list-style: none;
	list-style-position:outside;
	margin-bottom: 20px;
}

li {
	height: 40px;
	padding: 10px;
	margin: 10px 0;
	line-height: 40px;
	background: #f2f2f2;
	color: #666;
	border-radius: 5px;
}

li:hover {
	background:#C0C0C0;
	color: #999;
}
