body, html {
	margin:0;
	padding:0;
}

footer {
   position:absolute;
   bottom:0;
   width:80%;
}

h1 {
	display: block;
}


ul {
	list-style: none;
}

li {
	height: 40px;
	padding: 10px;
	margin: 10px;
	line-height: 40px;
	background: #f2f2f2;
	color: #666;
	border-radius: 5px;
}
.actions {
	margin-bottom:0;
}

